* {
    margin: 0;
    padding: 0;

}
h1 {
    width: 100%;
    background-color: darkgray;
    text-align: center;
    padding: 2% 0;
    font-weight: bold;

}
.container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.image {
    width: 24.8%;
    margin: 1px;
}
h2 {
    width: 100%;
    background-color: darkgray;
    text-align: center;
    padding: 2% 0;
    font-weight: bold;
    font-size: 25px;
}

@media (max-width:1080px) {
    .image {
        width: 33%;
    }
}
    

@media (max-width: 600px) {
    .image {
        width: 49.6%;
    }
}

@media (max-width: 500px) {
    .image {
        width: 99.9%;
    }
}